@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);


/* general text formatting */

h1, h2, h3, legend {
 font-family: 'Merriweather', serif;    }
body {
   font-family: 'Open Sans', Arial, sans-serif;
   font-size: 18px;
   background-color: #404550
 }

legend {
   background-color: #616161 ;
   color: white;
   margin: 0 auto;
   width: 40%;
   padding: 0.50em;
   text-align: center;
   font-weight: bold;
   font-size: 26px;
}

fieldset {
  padding: 0 1em 1em 1em;
	border:0;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 700px;
  margin: auto;
}

form p {
   margin-top: 0.5em;
   margin-left: 5em;
}
form input[type="text"], form select {
    font-size: 16px;
    height: 24px;
    padding: 3px;
    width: 500px;
}
form select {
    height: 30px;
}

.box {
   border: 1pt solid #9E9E9E;
   padding: 0.5em;
   margin-bottom: 0.5em;
}

.rectangle {
   background-color: #BDBDBD;
   padding: 0.5em;
   margin-bottom: 5px;
   border-radius: 10px;
}
.centered {
   text-align: center;
}
.error {
    color: red;
}

.btn {
  border-radius: 5px;
  height: 32px;
  color: black;
  font-size: 16px;
  background: rgb(85, 185, 210);
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  margin: 10px;
}

.btn:hover {
  background: #FFAB40;
  text-decoration: none;
}
